@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    display: grid;
    height: 100%;
    place-items: center;
}
.buttons {
    display: flex;
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}
.buttons .row button {
    display: block;
    height: 55px;
    width: 150px;
}